* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

a {
    text-decoration: none;
}
ul{
    padding: 0;
    margin-bottom: 0;
}
p,
div {
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    background-color: #e8ebf1;
    display: flex;
    height: 120px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.container-fluid{
    padding: 0;
}
.logo{
    height: 45px;
}
.navbar-nav .nav-item {
    margin: 0 5px; 
}
.offcanvas-body .nav-link {
    font-weight: 700;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    padding : 0px !important;
}

.nav-item.dropdown:hover > .nav-link {
    background-color: #fff;
    color: #2aacc8; 
}

.offcanvas-body .nav-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #2aacc8; 
    transform: scaleX(0); 
    transition: transform 0.3s ease; 
}

.offcanvas-body .nav-link {
    font-weight: bold;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
}
.offcanvas-body .nav-link:hover{
    color: #2aacc8; 
}
.nav-item.dropdown:hover > .nav-link::before {
    transform: scaleX(1); 
}
.offcanvas-body .nav-link:hover::before,
.offcanvas-body .nav-item.show > .nav-link::before {
    transform: scaleX(1);
}

.dropdown-menu {
    border: none; 
    box-shadow: none; 
    border-radius: 1px;
}

.dropdown-menu .dropdown-item:hover {
    background-color: transparent; 
    color: #2aacc8;
}


.last-dropdown {
    height: 4px; 
    background-color: #2aacc8; 
    border-radius: 2px;
}


/* Slide Banner */
.container-banner{
    display: flex;
    justify-content: center;
    background-color: #2aacc8;
    padding-bottom: 30px;
}

.slideshow-container {
    margin-top: 15px;
    position: relative;
    width: 75%;
}
.slideshow-container .Slide{
    width: 100%;
    height: 100%;
    position: relative;
}
.Slide{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    align-items: center;
}

.Slide .AnhSlide{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.AnhSlide .Anh{
    width: 100%;
    height: 100%;
}

.nutchuyenSlide{
    color: white;
    position: absolute;
    bottom : 0.1%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.quanlynutchuyen li{
    display: inline-block;
    padding: 0 3px;
    width: 15px;
    height: 15px;
    background-color: #80808080;
    border-radius: 50%;
}
.quanlynutchuyen li:hover,
.quanlynutchuyen li.kichhoat{
    border: 2px solid white;
    background-color: white;
    cursor: pointer;
}
.AnSlide{
    display: none;
}

/* content_more */
.content_more {

    background-color: #e8ebf1;
    padding: 50px 0;
}
.naiyou{
    width: 76%;
}
.head-radius {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.head-radius span {
    margin-left: 20px;
    font-size: 15px;
    font-weight: bold;
}

.item-head .img {
    border-radius: 50%;
    border: 1px solid #2aacc8;
    width: 40px;
    height: 40px;
    background-color: #2aacc8;
    text-align: center;
    line-height: 33px;
}

.item-footer {
    padding-top: 30px;
    padding-bottom: 15px;
}

.item-footer a{
    color: #2aacc8;
    margin: 4px;
}

.item-footer img{
    margin-bottom: 3px;
}

/* latest-works */
/* ------------------------------------------- */
.latest_works {
    background-color: #ffffff;
}
.latest_works .row img{
    width: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.left img{
    width: 20px;
    height: 25px;
}

.left span {
    margin-left: 20px;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial;
}

.right img {
    width: 20px;
    height: 20px;
    background-color: #81e4ed;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    margin-left: 5px;
}

/* Last - content */
.our-clinets{
    width: 102.5%;
}
.our-clinets div {
    border: 1px solid #e1e1e1;
    box-shadow: rgb(204, 210, 212) 3px 3px 6px 0px inset, #fdfdfe -3px -3px 6px 1px inset;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.our-clinets div img {
    width: 100%;
    height: 100%;
    
}

.title_testimonials span {
    margin-left: 20px;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial;
}

.content_testimonials {
    font-size: 14px;
    font-family: Arial;
    padding-bottom: 35px;
}

.title_testimonials {
    padding-bottom: 20px;
}
.actor {
    margin-bottom: 30px;
}

/* download */
.download{
    margin-top: 50px;
    margin-bottom: 50px;
}
.download .content{
    background-color: #e5f9fb;
    border: 1px solid #b8e1e6;
    padding: 20px;
}
.content-text {
    width: 90%;
    font-size: 16px;
}

.content-text p {
    font-size: 16px;
    color: #333;
    margin: 0;
}

.btn_dow {
    background-image: url('../img/download_button.png');
    width: 245px;
    height: 64px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-top: 15px;
    margin-left: -10px;
}

.btn-text {
    color: #000000; 
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    position: absolute; 
    margin-left: 35px;
}

.btn-text:hover{
    color: #fff;
}

/* footer */

footer {
    background-color: #e8ebf1;
    padding: 30px 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.footer-bottom .bis {
    font-weight: 700;
}

.explore p,
.browse p,
.contact p {
    font-size: 14px;
}

.about h5,
.explore h5,
.browse h5,
.contact h5,
.connect h5 {
    font-size: 15px;
    font-weight: bold;
}
.explore p,
.browse p{
    cursor: pointer;
}
.explore p:hover,
.browse p:hover{
    color: #2aacc8;
}

.about p {
    font-size: 14px;
}

.inc {
    font-weight: bold;
}

.copyRight {
    font-size: 13px;
}
